[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipyplot = "*"
dill = "*"
sklearn = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
